<div  class="col-sm-2">
    <ul class="nav nav-sidebar nav-collapse collapse in">
        <li class="active"><a href="#">全公司人员</a></li>
        <li><a href="#">&nbsp;&nbsp;&nbsp;&nbsp;销售人员</a></li>
        <li><a href="#">&nbsp;&nbsp;&nbsp;&nbsp;技术人员</a></li>
        <li><a href="#">&nbsp;&nbsp;&nbsp;&nbsp;后勤人员</a></li>
    </ul>
</div>